
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="formGroup" (submit)=" addNewShelter()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Add New Shelter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #close></button>
        </div>
      
        <div class="modal-body">
          <div class="mb-3">
           <app-custom-iput [title]="'Name'" [formGroupInput]="formGroup"
           [formControlNameInput]="'name'" [typeInput]="'text'" ></app-custom-iput>
          </div>
          <div class="mb-3">
           <app-custom-iput [formGroupInput]="formGroup"
           [formControlNameInput]="'location'"[title]="'Location'"></app-custom-iput>
          </div>
          <div class="mb-3">
           <app-custom-iput [formGroupInput]="formGroup"
           [formControlNameInput]="'maxNum'" [title]="'Capacity'" [typeInput]="'number'"></app-custom-iput>
        </div>
        <div class="mb-3">
          <h6 class="text-secondary mb-2">*ShelterImages</h6>
          <input (change)="onFileInputChange($event)" class="p-3" type="file" [multiple]/>
        </div>
        </div>
        <div class="modal-footer">
          <button type="submit " class="btn btn-primary text-white">Save changes</button>
        </div>
      </div>
    </form>
    </div>
  </div>