<div class="container mt-5">
<h2 class="text-secondary fw-semibold "><i class="bi bi-clock-history me-3"></i>Booking Requests</h2>
<div class="bg-white shadow mt-5" style="border-radius: 12px;">
    <div class="  row p-5 m-0">
        <div class="col-4" *ngFor="let request of requests">
    <app-booking-card (output)="getBookingRequest()" [data]="request"></app-booking-card>
</div>
<!-- <div class="col-4">
    <app-booking-card></app-booking-card>
</div>
<div class="col-4">
    <app-booking-card></app-booking-card>
</div> -->
</div>

</div>
</div>
