<div class="bg-secondary w-100 p-2" >
    <div class="d-md-flex justify-content-between container">
        <div class="d-md-flex">
            <p class=" p-0 my-0 text-white me-5"><i class="bi bi-envelope me-2"></i> bassantkhattab09@gmail.com</p>
            <p class=" p-0 my-0 text-white"><i class="bi bi-telephone me-2"></i> 01099274056</p>
        </div>
        <div class="d-md-flex">
            <p class=" p-0 my-0 text-white"><i class="bi bi-geo-alt me-2"></i> 4140 Parker Rd. Allentown, New Mexico
                31134</p>
        </div>
    </div>
</div>
